<div id="add-form-container" class="container">
    <div class="row">
        <div class="col-md-12 wrapper">
            <div class="wrapper-title">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Gerenciar <b>Álbuns</b></h2>
                    </div>
                    <div class="col-md-7">
                        <a class="btn btn-secondary" href="/albums/add"><i class="fa fa-plus-square"
                                aria-hidden="true"></i> <span>Adicionar Álbum</span></a>
                    </div>
                </div>
            </div>
            <div class="wrapper-items">
                <div class="albums-container">
                    {{#each albums}}
                    <div class="album-item">
                        <div class="album-item-cover">
                            <img src="{{#if imageurl}}{{imageurl}}{{else}}/images/default-cover.jpg{{/if}}"
                                alt="{{name}}" title="{{name}}">
                        </div>
                        <div class="album-item-title-container">
                            <span class="album-item-title-text">{{name}}</span>
                        </div>
                        <div class="album-item-button-container">
                            <a class="btn btn-primary collection-item-button" href="/albums/{{id}}/edit">Editar</a>
                        </div>
                        <div class="album-item-button-container">
                            <a class="btn btn-danger collection-item-button" href="/albums/{{id}}/delete">Excluir</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>